<html lang="en">
<head>
    <title>Add a post</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="460880639448-1t9uj6pc9hcr9dvfmvm7sqm03vv3k2th.apps.googleusercontent.com">
</head>
<body>
<nav class="blue">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/images/readmoa-logo-182x80.png" width="91" height="40" style="margin-top: 11px; margin-left: 11px"/></a>
        <ul class="right">
            <!-- TODO: Implement search feature and link -->
            <li><a href="#"><i class="material-icons">refresh</i></a></li>
            <li><a href="/search"><i class="material-icons">search</i></a></li>
            <li><a href="/add_post"><i class="material-icons">add_box</i></a></li>
            <!-- TODO: Implement menu feature and link -->
            <li><a href="menu"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>
<div class="section">
    <div class="center">
        <h4>
        Add a post
        </h4>
    </div>
    <form class="col s12" method="POST" action="/add_post">
        <div class="row">
            <div class="input-field col s12">
                <input id="url" type="text" name="url" class="validate">
                <label for="url">URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                <label for="comment">Comment</label>
            </div>
        </div>
        
        <input id="idtoken" type="hidden" name="idtoken">
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        // Verify ID Token.
        var id_token = googleUser.getAuthResponse().id_token;
        document.getElementById("idtoken").value = id_token;
    }
</script>
</body>
</html>
